@font-face{
  font-family: openSans;
  src: url(OpenSans-Regular.ttf)
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  background-image: url(forrest-cavale-qfmd9bu7IgA-unsplash.jpg);
  background-size: cover;
  backdrop-filter: blur(10px);
  font-family: openSans ;
  height: 100vh;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
