.buttonSettingsContainer{
    
    width: 300px;
    background-position: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    flex: 1;
    backdrop-filter: blur(10px);
    color: white;
}